/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

.sloupec {
	padding: 20px;
}

.hlavicka	{ background-color: #2ecc71; }
.hlavni		{ background-color: #f1c40f; }
.levy			{ background-color: #3498db; }
.pravy		{ background-color: #e74c3c; }
.paticka	{ background-color: #9b59b6; }

/* ---------------------------------------------------- */

.kontejner {
	display: grid;
	grid-template-columns: [menu-start] 200px [menu-end obsah-start] 1fr [obsah-end reklama-start] 250px [reklama-end];
	grid-template-rows: 200px auto 100px;
	gap: 20px;
}

.hlavicka {
	grid-column: 1 / -1;
}

.pravy {
	grid-column: reklama;
	grid-row: 2;
}

.levy {
	grid-column: menu;
	grid-row: 2;
}

.paticka {
	grid-column: span 3;
}