/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
	background-color: #e5e5e5;
}

/* ---------------------------------------------------- */

.galerie {
	display: grid;
	grid-template-columns: repeat(5, minmax(150px, 1fr));
	grid-template-rows:;
	gap: 20px;
}

.galerie figure {
	background-color: white;
	padding: 5px;
	margin: 0;
}

.galerie img {
	width: 100%;
	/* aby se obrazky chovaly responzivne, byly velke tak aby se vesli na zobrazovanou plochu */
}

.galerie figcaption {
	text-align: center;
}